@import 'node_modules/bootstrap/scss/bootstrap';

.container {
    margin-top: 20px;
  
    h3 {
      margin-bottom: 15px;
      color: #333; /* Cor do título */
    }
  
    strong {
      font-weight: bold;
    }
  
    div {
      margin-bottom: 10px;
    }
  }