<div class="container mt-4">
  <div class="row">
    <div class="col-md-6">
      <h3>Informações Pessoais</h3>
      <p><strong>Nome:</strong> {{ user.nome }}</p>
      <p><strong>Telefone:</strong> {{ user.telefone }}</p>
      <p><strong>Data de Nascimento:</strong> {{ user.dataNascimento }}</p>
      <p><strong>Sexo:</strong> {{ user.sexo }}</p>
      <p><strong>Escolaridade:</strong> {{ user.escolaridade }}</p>
    </div>
    <div class="col-md-6">
      <h3>Endereço</h3>
      <p><strong>CEP:</strong> {{ endereco.cep }}</p>
      <p><strong>Estado:</strong> {{ endereco.estado }}</p>
      <p><strong>Cidade:</strong> {{ endereco.cidade }}</p>
      <p><strong>Rua:</strong> {{ endereco.rua }}</p>
      <p><strong>Número:</strong> {{ endereco.numero }}</p>
      <p><strong>Bairro:</strong> {{ endereco.bairro }}</p>
      <p><strong>Complemento:</strong> {{ endereco.complemento }}</p>
    </div>
  </div>
</div>
