@import 'node_modules/bootstrap/scss/bootstrap';

/* Estilo da caixa do perfil */
.profile-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ajuste para ocupar a altura total da tela */
}

.main-content {
  flex: 1; /* Ocupa o espaço restante */
  position: relative; /* Defina como relativo para que os elementos internos respeitem */
  padding-bottom: 60px; /* Altura do rodapé + margem */
}

/* Estilo para o footer */
app-footer {
  position: fixed; /* Posicionamento fixo para o rodapé */
  bottom: 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding: 10px 0;
  z-index: 1; /* Z-index superior para o footer */
}

/* Estilo do cabeçalho do perfil */
.profile-header {
  text-align: center;
}

/* Estilo do corpo do perfil */
.profile-body h4 {
  margin-top: 20px;
}

.profile-body ul {
  list-style: none;
  padding: 0;
}

.profile-body li {
  margin-bottom: 10px;
}