@font-face {
    font-family: 'Uni-Sans-Heavy';
    src: url('/assets/fonts/Uni Sans Heavy.otf') format('opentype');
}

@font-face {
    font-family: 'Poetsen-One';
    src: url('/assets/fonts/PoetsenOne-Regular.ttf') format('truetype');
}

.bg-orange {
    background-color: #FFB819; /* Laranja Segue-me */
}

.logo-img {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: auto;
}

header {
    padding: 15px 20px; /* Ajuste conforme necessário */
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Cobrir a largura total */
    position: fixed; /* Manter o cabeçalho fixo no topo */
    top: 0; /* Alinhar no topo */
    z-index: 999; /* Garantir que fique acima de outros elementos */
    left: 0; /* Alinhar à esquerda */
    color: #FFFFFF;
}

.header-content {
    display: flex;
    align-items: center;
}

.logo {
    margin-right: 20px; /* Espaçamento entre a logo e o texto */
}

h1.header-title {
    font-size: 24px; /* Tamanho do texto */
    font-weight: bold; /* Negrito */
    margin: 0;
}

h1.header-title span {
    display: block;
    font-family: 'Poetsen-One', sans-serif;
    font-size: 18px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

nav li {
    margin-right: 20px; /* Espaçamento entre os links */
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-family: 'Poetsen-One', sans-serif; /* Defina a fonte para os links */
    font-size: 18px;
}