<header class="bg-orange">
    <div class="header-content">
        <div class="logo">
            <img class="logo-img" src="/assets/logos/1 Logotipo OFICIAL do SEGUE-ME_Especial Positivo.png" alt="Logo SEGUE-ME">
        </div>
        <h1 class="header-title">
            <span>Encontro</span>
            <span>Conectado</span>
        </h1>
    </div>
    <nav>
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">QUEM SOMOS</a></li>
            <li><a routerLink="/login">LOGIN</a></li>
        </ul>
    </nav>
</header>