<app-navbar-unauthenticated></app-navbar-unauthenticated>

<div class="quem-somos-wrapper">
  <div class="container mt-5">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <img src="/assets/images/quem-somos-segueme.png" alt="Quem Somos" class="img-fluid mb-4 d-block mx-auto" />

        <!-- Texto -->
        <p class="text-justify">
          O SEGUE-ME nasce inspirado no chamado e na proposta de amor e salvação que Cristo dirige a cada homem. “SEGUE-ME” é uma das mais expressivas palavras de Jesus na Sagrada Escritura, como se observa claramente no relato da vocação de São Mateus (Mt 9,9): – “Partindo dali, Jesus viu um homem chamado Mateus, que estava sentado no posto do pagamento das taxas. Disse-lhe: segue-me. O homem levantou-se e O seguiu.” É precisamente esta passagem que baseia a origem do nome do Movimento.
        </p>
        <p class="text-justify">
          Inspirados no Encontro de Jovens com Cristo (EJC) criado pelo Padre Alfonso Pastore em São Paulo, dois jovens, que participaram do encontro, decidiram juntamente com casais do Encontro de Casais com Cristo (ECC) da Paróquia do Divino Espírito Santo, do Guará II, e sob a orientação do Pe. Antônio Chirulli, organizar de forma semelhante, o Encontro de Jovens com Cristo, ao qual denominaram SEGUE-ME. Portanto, o primeiro encontro do SEGUE-ME ocorreu em Brasília (DF), com duração de dois dias: 31 de março e O1 de Abril de 1979.
        </p>
        <p class="text-justify">
          O SEGUE-ME surge como resposta à preocupação dos casais do ECC em evangelizar seus filhos. Afinal, os adultos dispunham de muitas oportunidades de encontros, reuniões e atividades, que os impelia a modificar sua maneira de ser e agir. Contudo, em casa, se deparavam com jovens e adolescentes, com escassas possibilidades de ter na Igreja e na sociedade um autêntico encontro com seu Salvador, uma experiência transformadora que os aproximasse de Cristo e da Igreja. Por isto, inicialmente, apenas os filhos dos casais do ECC podiam participar do SEGUE-ME. Com o dinamismo do Espírito Santo, o Movimento foi crescendo e se abrindo; assim os seguidores acabaram trazendo outros jovens. Enriquecidos por esta experiência, esses acabaram motivando seus pais para que também participassem do ECC.
        </p>
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>