<app-navbar-authenticated></app-navbar-authenticated>
<div class="wrapper">
  <div class="main-content">
    <div class="container mt-5 mb-5">
      <div class="row justify-content-center">
        <div class="col-md-8">
          <div class="cadastro-card card">
            <div class="cadastro-header card-header">
              <form class="card-body" (ngSubmit)="criarNovoEncontro()" #cadastroForm="ngForm">

                <!-- Informações do Encontro -->
                <h4>Informações do Encontro</h4>
                <div class="form-group">
                  <label for="titulo">Título</label>
                  <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="novoencontro.titulo"
                    required>
                </div>
                <div class="form-group">
                  <label for="ano">Ano</label>
                  <input type="number" class="form-control" id="ano" name="ano" [(ngModel)]="novoencontro.ano" required>
                </div>
                <div class="form-group">
                  <label for="nomeLocal">Nome do Local</label>
                  <input type="text" class="form-control" id="nomeLocal" name="nomeLocal"
                    [(ngModel)]="novoencontro.nomeLocal" required>
                </div>

                <!-- Endereço -->
                <h4>Endereço</h4>
                <div class="form-group">
                  <label for="cep">CEP</label>
                  <input type="text" class="form-control" id="cep" name="cep" [(ngModel)]="novoencontro.endereco.cep"
                    required>
                </div>
                <div class="form-group">
                  <label for="estado">Estado</label>
                  <input type="text" class="form-control" id="estado" name="estado"
                    [(ngModel)]="novoencontro.endereco.estado" required>
                </div>
                <div class="form-group">
                  <label for="cidade">Cidade</label>
                  <input type="text" class="form-control" id="cidade" name="cidade"
                    [(ngModel)]="novoencontro.endereco.cidade" required>
                </div>
                <div class="form-group">
                  <label for="rua">Rua</label>
                  <input type="text" class="form-control" id="rua" name="rua" [(ngModel)]="novoencontro.endereco.rua"
                    required>
                </div>
                <div class="form-group">
                  <label for="numero">Número</label>
                  <input type="text" class="form-control" id="numero" name="numero"
                    [(ngModel)]="novoencontro.endereco.numero" required>
                </div>
                <div class="form-group">
                  <label for="bairro">Bairro</label>
                  <input type="text" class="form-control" id="bairro" name="bairro"
                    [(ngModel)]="novoencontro.endereco.bairro" required>
                </div>
                <div class="form-group">
                  <label for="complemento">Complemento</label>
                  <input type="text" class="form-control" id="complemento" name="complemento"
                    [(ngModel)]="novoencontro.endereco.complemento" required>
                </div>

                <!-- Mensagem de sucesso ou erro -->
                <div *ngIf="submitted" class="alert mt-3"
                  [ngClass]="{'alert-success': !hasError, 'alert-danger': hasError}" role="alert">
                  <ng-container *ngIf="!hasError; else error">
                    Encontro cadastrado com sucesso!
                  </ng-container>
                  <ng-template #error>
                    Ocorreu um erro ao cadastrar o encontro. Por favor, tente novamente.
                  </ng-template>
                </div>

                <button type="submit"
                  class="btn btn-primary yellow-button w-100 py-2 mt-2 focus-custom mt-4">Cadastrar</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Lista de Encontros -->
    <div class="container mt-5">
      <h2>Lista de Encontros</h2>
      <ul class="list-group mt-3">
        <li *ngFor="let encontro of encontros"
          class="list-group-item d-flex justify-content-between align-items-center">
          {{ encontro.titulo }}
          <div class="btn-group" role="group" aria-label="Ações">
            <button class="btn btn-primary btn-md mt-3 mx-1" (click)="editarEncontro(encontro)">Editar</button>
            <button class="btn btn-info btn-md mt-3 mx-1" (click)="detalharEncontro(encontro.id)">Detalhes</button>
            <button class="btn btn-danger btn-md mt-3 mx-1" (click)="excluirEncontro(encontro.id)">Excluir</button>
          </div>
        </li>
      </ul>
    </div>

    <!-- Formulário para editar um encontro -->
    <div *ngIf="encontroDetalhado && encontroEditando" class="cadastro-card card">
      <h2 class="card-header">Editar Encontro</h2>
      <form class="card-body" (submit)="atualizarEncontro()">
        <input type="hidden" [(ngModel)]="encontroDetalhado.id" name="id">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input type="text" [(ngModel)]="encontroDetalhado.titulo" name="titulo" required class="form-control">
        </div>

        <div class="form-group">
          <label for="ano">Ano</label>
          <input type="number" [(ngModel)]="encontroDetalhado.ano" name="ano" required class="form-control">
        </div>

        <!-- Campos do Endereço -->
        <h4>Endereço:</h4>
        <div class="form-group">
          <label for="cep">CEP</label>
          <input type="text" [(ngModel)]="encontroDetalhado.endereco.cep" name="cep" required class="form-control">
        </div>

        <div class="form-group">
          <label for="estado">Estado</label>
          <input type="text" [(ngModel)]="encontroDetalhado.endereco.estado" name="estado" required
            class="form-control">
        </div>

        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input type="text" [(ngModel)]="encontroDetalhado.endereco.cidade" name="cidade" required
            class="form-control">
        </div>

        <div class="form-group">
          <label for="rua">Rua</label>
          <input type="text" [(ngModel)]="encontroDetalhado.endereco.rua" name="rua" required class="form-control">
        </div>

        <div class="form-group">
          <label for="numero">Número</label>
          <input type="number" [(ngModel)]="encontroDetalhado.endereco.numero" name="numero" required
            class="form-control">
        </div>

        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input type="text" [(ngModel)]="encontroDetalhado.endereco.bairro" name="bairro" required
            class="form-control">
        </div>

        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input type="text" [(ngModel)]="encontroDetalhado.endereco.complemento" name="complemento"
            class="form-control">
        </div>

        <button type="submit" class="btn btn-success mt-3 mx-2">Salvar Alterações</button>
        <button (click)="cancelarEdicao()" class="btn btn-danger mt-3 mx-2">Cancelar</button>
      </form>
    </div>

    <!-- Detalhes do encontro selecionado -->
    <div *ngIf="encontroDetalhado && !encontroEditando" class="cadastro-card card">
      <h2 class="card-header">Detalhes do Encontro</h2>
      <div class="card-body">
        <p><strong>ID: </strong> <span class="text-bold">{{ encontroDetalhado.id }}</span></p>
        <p><strong>Título: </strong> <span class="text-bold">{{ encontroDetalhado.titulo }}</span></p>
        <p><strong>Ano: </strong> <span class="text-bold">{{ encontroDetalhado.ano }}</span></p>
        <p><strong>CEP: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.cep }}</span></p>
        <p><strong>Estado: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.estado }}</span></p>
        <p><strong>Cidade: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.cidade }}</span></p>
        <p><strong>Rua: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.rua }}</span></p>
        <p><strong>Número: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.numero }}</span></p>
        <p><strong>Bairro: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.bairro }}</span></p>
        <p><strong>Complemento: </strong> <span class="text-bold">{{ encontroDetalhado.endereco.complemento }}</span>
        </p>
      </div>
    </div>

  </div>
  <app-footer class="mt-5"></app-footer>
</div>