<footer class="footer bg-dark text-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6 d-flex align-items-center">
                <a class="navbar-brand d-flex align-items-center" href="/home">
                    <img class="logo-img" src="/assets/logos/5 Logotipo OFICIAL do SEGUE-ME_Especial Negativo.png" alt="Logo Encontro Conectado">
                    <div class="navbar-text d-none d-lg-block mx-auto">
                        <h1 class="header-title">
                            <span class="block-text">Encontro</span>
                            <span class="block-text">Conectado</span>
                        </h1>
                    </div>
                </a>
            </div>
            <div class="col-md-6">
                <p class="text-muted">
                    O SEGUE-ME nasce inspirado no chamado e na proposta<br>
                    de amor e salvação que Cristo dirige a cada homem.
                </p>
            </div>
        </div>
    </div>
</footer>