<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ENCONTRO CONECTADO</title>
</head>
<body>

  <header>
    <app-navbar-unauthenticated></app-navbar-unauthenticated>
  </header>

  <!-- Conteúdo principal -->
  <main>
    <!-- Aqui incluir o componente ou conteúdo principal da página -->
    <router-outlet></router-outlet>
  </main>

  <!-- Footer -->
  <app-footer></app-footer>

</body>
</html>