/* Estilo para o conteúdo principal */
.main-content {
    width: 80%;
    margin: 0 auto; 
    padding: 20px; 
    background-color: #f4f4f4; /* Cor de fundo do conteúdo */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para destacar o conteúdo */
  }
  
  .main-content h1 {
    color: #333; /* Cor do texto */
  }
  
  .main-content p {
    color: #666; 
  }
  
  